<app-movie-categories></app-movie-categories>


<main class="container">

    <div class="row">

        <div class="col-md-6 col-sm-12">

            <img src="../../../../assets/images/contact.jpg" alt="contact us" style="height: 291px; width: 374px;"/>

        </div>

        <div class="contact col-md-6 col-sm-12">

            <h2>Contact Us</h2>

            <p>
                Do not hesitate to contact us for any questions!
            </p>

            <p>
                <b>Address:</b>
                <br /> shoppingsite.se <br /> Sveavägen 100<br /> 113 50 Stockholm <br /> Phone: 010–12 34 56 <br /> Monday to Friday 9:00 – 17:00 <br /> E-Mail:
                <a routerLink="/contact"> info@shoppingsite.se</a>
            </p>

        </div>

    </div>
    
</main>
