.container {
    padding: 5%;
    background-color: yellowgreen;
    margin: 50px 0 50px 100px;
    border-left: 30px solid rgb(43, 40, 40);
}

img {
    margin: 50px 0 50px 50px;
}

.row {
    text-align: center;
    border: 3px solid black;
    padding: 5px;
    color: black;
}

.contact {
    margin: 50px 0;
}
