.checkout-button {
    background-color: steelblue;
    border-color: black;
    color: black;
}


.checkout-button:hover {
    background-color: black;
    color: steelblue;
}


.table td,
.table th {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}


.table th {
    font-weight: 400;
}


.table {
    margin-bottom: 7%;
}


.imageInCart {
    height: 100px;
    width: 70px;
}


.empty-cart-message {
    text-align: center;
}


@media (max-width: 767.98px) {
    .cart-area {
        text-align: center;
    }
}


@media (min-width: 768px) {
    .cart-area {
        float: right;
    }
    .subtotal {
        float: right;
    }
    .empty-cart-message {
        text-align: left;
    }
}