<nav class="navbar d-lg-block d-xl-block">

    <a routerLink="/" class="navbar-brand">SHOPPING SITE</a>

    <div class="float-right">

      <span class="search-field">

        <input
          #search
          type="text"
          (keyup.enter)="searchForProduct(search.value)"
          placeholder="Search"
          class="search-input"
        />

      </span>

      <span>

        <a routerLink="/cart" id="cart">

          <img src="../../../../assets/images/card.png" class="img-fluid" alt="cart" style="height: 20px; width: 20px;"/> ({{ cartQuantity() }})

        </a>

      </span>

    </div>

</nav>